<div class="jumbotron center">
	<h1 class=header-margin>About Me</h1>
	<p>I'm working on my own One Month Rails Pinteresting app, because I'd like to make my own e-commerce platform one day :D!
	For now enjoy this sloth.</p>
	<img src="http://www.pheesmakeuptips.com/wp-content/uploads/2016/03/Screen-Shot-2016-03-03-at-20.00.39.png">
</div>